@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  font-family: 'Josefin Sans', sans-serif;
}
.header{
  position:relative;
  position: top left;
  overflow:hidden;
  display:flex;
  background:#1B2030 url(background.jpeg) 50% 0 no-repeat;
  background-size: cover;
  margin: 0px;
  color:rgb(255, 255, 255);
  padding: 0%;
  z-index:-2
}

.header a{
  color:#eee
}
.reglages{

    width: 30px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
  display:block;
  position:absolute;
  right:20px;
  top:20px;
}
.info{
  width:100%;
  padding:5%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)

}
.info h4, .meta{
  font-size:0.7em
}
.meta{
  font-style:italic;
}
