.sidebar {
    flex : 1;
    background-color: rgb(250, 250, 250);
    height: calc (100vh - 50px) ;
    
}

.sidebarWrapper {
    padding: 20px;
    color: grey;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    margin: 0;
    font-size: 14px;
    color: grey;
}
.sidebarList {
    list-style: none;
    padding: 5px;
    color: rgb(95, 95, 95);
}

.sidebarListItem {
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.sidebarListItem:hover, .sidebarListItem.active {
    background-color: rgb(227, 255, 227);
}

.icone {
    width: 20px;
    height: 20px;
    margin-right: 5px;
} 