.home {
    flex: 4;
    margin-top: 0px;
}

.homeContainer1 {
    display: flex; 
    justify-content: space-between;
    width: 100%;
}

.homeContainer2 {
    display: flex; 
    width: 100%;
}

.homeContainer3 {
    width: 100%;
}